[submodule "uniswap-v2-core"]
	path = uniswap-v2-core
	url = https://github.com/uniswap/uniswap-v2-core.git
  ignore=dirty
[submodule "deps/klab"]
	path = deps/klab
	url = https://github.com/kmbarry1/klab.git
